.primeiraLista {
    line-height: 180%;
  }
.segundaLista {
    line-height: 180%;
  }
.terceiraLista {
    line-height: 180%;
  }
.quartaLista {
    line-height: 180%;
}
.quintaLista {
    line-height: 180%;
}
.sextaLista {
    line-height: 180%;
}